<!doctype html>
<html lang="en">

<head>
  {{> headerResources}}
  <title>The Forum</title>
</head>

<body>
  {{#if uname}}
	{{> signedNavBar}}	
  {{else}}
	{{> unsignedNavBar}}
  {{/if}}
  <main role="main" class="container">
    <div class="starter-template">
      <!-- START OF POSTS SECTION -->
      <div class="media post">
        <div class="mr-3 actions">
          <i class="material-icons md-18 md-dark up">arrow_upward</i>
          <span class="votes">{{postScore}}</span>
          <i class="material-icons md-18 md-dark down">arrow_downward</i>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{postTitle}}</h5>
          {{postDescription}}
          <div class="mt-2 flex-fill">
            <span class="info">
              <span class="p-2">
                <i class="material-icons md-16 md-dark">comment</i>
                <a href="#comments">{{commentNumber}} comments</a>
              </span>
              <span class="p-2">
                <i class="material-icons md-18 md-dark">person_outline</i> Posted by
                <a href="user-profile">{{postAuthor}}</a> at {{postDate}}
              </span>
          </div>
        </div>
      </div>
		  
	  {{#if uname}}
      <div class="postcomment">
        <form>
          <h5 class="mt-0 mb-1">Reply to post</h5>
          <div class="container-fluid">
            <textarea class="form-control mt-3" type="text" placeholder="Type a comment"></textarea>
          </div>
          <button class="btn btn-primary mt-2 ml-3">Submit</button>
        </form>
      </div>	
	  {{/if}}

      <a name="comments"></a>

      <div class="comment-container"></div>
          
    </div>
  </main>
        
  {{> scriptResources}}

<!--
        <div class="media comment ml-3">
          <div class="mr-3 comment actions">
            <i class="material-icons md-18 md-dark up">arrow_upward</i>
            <i class="material-icons md-18 md-dark down">arrow_downward</i>
          </div>
          <div class="media-body">
            <div class="d-flex">
              <h6 class="mt-0">
                <a href="user-profile" style="color : #000000;">Kansei_Drift</a>
              </h6>
              <span class="ml-2 points">12 points</span>
              <span class="ml-2">·</span>
              <span class="ml-2 points">07/01/18 22:50</span>
            </div>
            Falling may cause long term damages. Tread with caution!
            <div class="nav-item active mt-2">
              <span class="info">
                <a href="">
                  <i class="material-icons md-16 md-dark">comment</i>
                  Reply</a>
              </span>
            </div>
           </div>
          </div>      
-->
      
  <script>
    $(document).ready(function () {
        
        function addComment(commentContent, commentAuthor, commentDate, commentScore){
            var mainCommentContainer = document.createElement("div");
            mainCommentContainer.className = "media comment ml-3";
            var voteContainer = document.createElement("div");
            voteContainer.className = "mr-3 comment actions";
            var upArrow = document.createElement("i");
            upArrow.className = "material-icons md-18 md-dark up";
            upArrow.innerHTML = "arrow_upward";
            var downArrow = document.createElement("i");
            downArrow.className = "material-icons md-18 md-dark down";
            downArrow.innerHTML = "arrow_downward";
            var commentBodyContainer = document.createElement("div");
            commentBodyContainer.className = "media-body";
            var flexContainer = document.createElement("div");
            flexContainer.className = "d-flex";
            
            
            voteContainer.append(upArrow);
            voteContainer.append(downArrow);
            mainCommentContainer.append(voteContainer);        
            
            $(".comment-container").append(mainCommentContainer);
        }
        
        addComment("","","","");

        
    });
  </script>

</body>

</html>