<!doctype html>
<html lang="en">

<head>
  {{> headerResources}}
  <title>The Forum</title>
</head>

<body>
  {{> signedNavBar}}
  <main role="main" class="container">
    <div class="starter-template">
      <!-- START OF POSTS SECTION -->
      <div class="media post">
        <div class="mr-3 actions">
          <i class="material-icons md-18 md-dark up">arrow_upward</i>
          <span class="votes">{{postScore}}</span>
          <i class="material-icons md-18 md-dark down">arrow_downward</i>
        </div>
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{postTitle}}</h5>
          	{{postDescription}}
          <div class="mt-2 flex-fill">
            <span class="info">
              <span class="p-2">
                <i class="material-icons md-16 md-dark">comment</i>
				<a href="#comments">{{commentNumber}} comments</a>
              </span>
              <span class="p-2">
                <i class="material-icons md-18 md-dark">person_outline</i> Posted by
                <a href="user-profile">{{postAuthor}}</a> at {{postDate}}
              </span>
          </div>
        </div>
      </div>
      <div class="postcomment">
        <form>
          <h5 class="mt-0 mb-1">Reply to post</h5>
          <div class="container-fluid">
            <textarea class="form-control mt-3" type="text" placeholder="Type a comment"></textarea>
          </div>
          <button class="btn btn-primary mt-2 ml-3">Submit</button>
        </form>
      </div>
		  
	  <a name="comments"></a>
		  
      <div class="comment-container">
        <div class="media comment ml-3">
          <div class="mr-3 commentactions">
            <i class="material-icons md-18 md-dark up">arrow_upward</i>
            <i class="material-icons md-18 md-dark down">arrow_downward</i>
          </div>
          <div class="media-body">
            <div class="d-flex">
              <h6 class="mt-0">
                <a href="user-profile" style="color : #000000;">Kansei_Drift</a>
              </h6>
              <span class="ml-2 points">12 points</span>
              <span class="ml-2">·</span>
              <span class="ml-2 points">07/01/18 22:50</span>
            </div>
            Falling may cause long term damages. Tread with caution!
            <div class="nav-item active mt-2">
              <span class="info">
                <a href="">
                  <i class="material-icons md-16 md-dark">comment</i>
                  Reply</a>
              </span>
            </div>
            <div class="media comment" style="margin-top: 20px">
              <div class="mr-3 commentactions">
                <i class="material-icons md-18 md-dark up">arrow_upward</i>
                <i class="material-icons md-18 md-dark down">arrow_downward</i>
              </div>
              <div class="media-body">
                <div class="d-flex">
                  <h6 class="mt-0">
                    <a href="user-profile" style="color : #000000;">SonOfLelith</a>
                  </h6>
                  <span class="ml-2 points">7 points</span>
                  <span class="ml-2">·</span>
                  <span class="ml-2 points">07/07/18 16:20</span>
                </div>
                You can fall to your death, so don't.
                <div class="nav-item active mt-2">
                  <span class="info">
                    <a href="">
                      <i class="material-icons md-16 md-dark">comment</i>
                      Reply</a>
                  </span>
                </div>
                <div class="media comment" style="margin-top: 20px">
                  <div class="mr-3 commentactions">
                    <i class="material-icons md-18 md-dark up">arrow_upward</i>
                    <i class="material-icons md-18 md-dark down">arrow_downward</i>
                  </div>
                  <div class="media-body">
                    <div class="d-flex">
                      <h6 class="mt-0">
                        <a href="user-profile" style="color : #000000;">lemoncup91</a>
                      </h6>
                      <span class="ml-2 points">13 points</span>
                      <span class="ml-2">·</span>
                      <span class="ml-2 points">07/11/18 10:45</span>
                    </div>
                    "Don't mess up"
                    <div class="nav-item active mt-2">
                      <span class="info">
                        <a href="">
                          <i class="material-icons md-16 md-dark">comment</i>
                          Reply</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media comment ml-3" style="margin-top: 20px">
          <div class="mr-3 commentactions">
            <i class="material-icons md-18 md-dark up">arrow_upward</i>
            <i class="material-icons md-18 md-dark down">arrow_downward</i>
          </div>
          <div class="media-body">
            <div class="d-flex">
              <h6 class="mt-0">
                <b>jumprealhigh</b>
              </h6>
              <span class="ml-2 points">9 points</span>
              <span class="ml-2">·</span>
              <span class="ml-2 points">07/09/18 18:30</span>
            </div>
            Is there a game where falling causes irreparable damage to the player character? Obviously there are games where falling
            causes damage, but typically that can be healed/repaired. Seems like it would be an interesting dynamic to have
            something that’s more demanding than “oops, I fell—better quaff a potion” but not as rigid as “fall = instadeath.”
            <div class="nav-item active mt-2">
              <span class="info">
                <a href="">
                  <i class="material-icons md-16 md-dark">comment</i>
                  Reply</a>
              </span>
            </div>

            <div class="media comment" style="margin-top: 20px">
              <div class="mr-3 commentactions">
                <i class="material-icons md-18 md-dark up">arrow_upward</i>
                <i class="material-icons md-18 md-dark down">arrow_downward</i>
              </div>
              <div class="media-body">
                <div class="d-flex">
                  <h6 class="mt-0">
                    <b>BryceMuldoon</b>
                  </h6>
                  <span class="ml-2 points">3 points</span>
                  <span class="ml-2">·</span>
                  <span class="ml-2 points">07/10/18 12:30</span>
                </div>
                Fallout New Vegas allows you to heal limbs but there are perk incentives to not healing those limbs. Not the same but the
                closest thing I could think of.
                <div class="nav-item active mt-2">
                  <span class="info">
                    <a href="">
                      <i class="material-icons md-16 md-dark">comment</i>
                      Reply</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </main>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
        ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {

    });
  </script>

</body>

</html>